/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* App.css */

header {
  background-color: #f5f5f5;
  /* Light grey */
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: #333;
  /* Dark grey */
  margin: 0;
  font-size: 24px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  color: #333;
  /* Dark grey */
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #666;
  /* Medium grey */
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}


.hero {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  margin: 0;
  font-size: 36px;
  color: #333;
}

.hero p {
  font-size: 18px;
  color: #666;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 45px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #666;
  color: #fff;
}

.course {
  margin-bottom: 40px;
}

.course img {
  width: 100%;
  border-radius: 5px;
}

.course h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.course p {
  color: #666;
}

footer {
  background-color: rgb(129, 129, 129);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.midHead {
  text-align: center;
  margin-top: 3vh;
  font-size: 1.6rem;
}

.carousel {
  margin-top: 25px;
}

.body-section {
  text-align: center;
}

.section-header {
  font-size: 1.6rem;
  margin: 20px 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  height: 30vh;
}

.image {
  max-width: 40%;
  border-radius: 10px;
  height: 27vh;
}

.text {
  max-width: 40%;
}

.text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
}
