.adminContainer{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.leftDiv{
    height: 100vh;
    border: dotted grey 2px;
}

.rightDiv{
    height: 100vh;
    border: dotted grey 2px;
}
    
.centerDiv{
    height: 100vh;
    display: grid;
    grid-template-rows: 30% 70%;
}

.centerTop{
    border: dotted grey 2px;
    text-align: center;
}

.centerBottom{
    border: dotted grey 2px;
}

.buttonStyle{
    height: fit-content;
    width: 130px;
    white-space: nowrap;
    justify-content: center;
    border: solid black;
    border-radius: 5px;
    margin: 5px;
}